
@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
/* button {
    margin:0 auto;
    display:block;
} */
/* #buttons {
    width: 400px;
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
} */

#content {
    margin: auto;
    width: 2000px;
}

#bubblechart {
    width: 900px;
    height: 1200px;
}

#table {
    width: 700px;
    height: 1200px;
}

/* .tooltip {
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 15px;
    min-width: 400px;
    text-align: left;
    color: white;
  } */

.tooltip {
    position: absolute;
    text-align: left;
    color: white;
    white-space: normal;
    padding: 6px;
    font-size: 14px;
    background: rgb(96,125,139);
    border: 1px solid rgb(96,125,139);
    border-radius: 2px;
    pointer-events: none;
    cursor: none;
}

.label{
    text-anchor: middle;
}

table {
    border-collapse: collapse;
    font: 14px sans-serif;
}

th:first-of-type {
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding-right: 6px;
    min-width: 125px;
}

th:last-of-type
{
    text-align: right;
}

td:first-of-type {
    text-align: left;
}

td {
    text-align: center;
}

td:last-of-type
{
    text-align: right;
}

* {
    font-family: 'font1';
}

.sorting {
    background: black;
    color: white;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.sortable:hover {
    background: #d1d1d1;
}

.sortable.sorting:hover {
    background: #232323;
}

.trump {
    color: firebrick;
    fill: firebrick;
}

.biden {
    color: steelblue;
    fill: steelblue;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    color:black;
}

#predictionTable td {
    line-height: 0;
}

#predictionTable tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #efefef;
}

.no-display {
    display: none !important;
}

.label{
    text-anchor: middle;
}

@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}