.header {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
button {
    margin:0 auto;
    display:block;
}
/* #buttons {
    width: 400px;
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
} */

#content {
    margin: auto;
    width: 1650px;
}

#bubblechart {
    width: 900px;
    height: 1200px;
}

#table {
    width: 700px;
    height: 1200px;
}

.tooltip {
    position: absolute;
    text-align: left;
    color: white;
    white-space: normal;
    padding: 6px;
    font-size: 14px;
    background: rgb(96,125,139);
    border: 1px solid rgb(96,125,139);
    border-radius: 2px;
    pointer-events: none;
    cursor: none;
}

.label{
    text-anchor: middle;
}