* {
    font-family: 'Roboto', sans-serif;
}

/* .button{

} */

.header {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

#content {
    margin: auto;
    width: 1550px;
}

#bubblechart {
    width: 800px;
    height: 500px;
}

#table {
    width: 700px;
    height: 500px;
}